@model IEnumerable<_3rd_Party_API_usage.Models.Deck>
<h1>List</h1>

@Html.ActionLink("New Deck", "New", null, new { @class = "btn btn-primary" })
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastCard.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deck_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remaining)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.LastCard != null)
                    {
                        <img src="@item.LastCard.Image" height="50" />
                    }
                    else
                    {
                        <p style="color:#333">No Card</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deck_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remaining)
                </td>
                <td>
                    @Html.ActionLink("View Deck", "Deck", new { deckID = item.Deck_ID }) |
                    @Html.ActionLink("Suffle", "Reshuffle", new { deckID = item.Deck_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
